.circle{
 width:180px;
 height:180px;
 display:block;
 border-radius:60%;
 -moz-border-radius:60%;
 -webkit-border-radius:50%;
 -khtml-border-radius:50%;
 font-size:50px;
 color:#000;
 line-height:100px;
 text-align:center;
 border:#bbb 2px double;
 color:#aaa;
 background:#fff;
 margin:auto;
 vertical-align: middle;
 line-height: 175px;
}
.sort{
  text-align: left;
}
//.total-companies {display: none;}
.total-companies,
.list-of-companies,
.companies-by-location
 {
  height: 220px;
  display: none;
  margin: auto;
}

#news-list
{
  height: 190px;
  display: none;
}

#class-list {
 max-height: 220px;
 overflow: auto;

}

.buttons-collection {
 width: 100%;
}

#Company-Partners-Block,
.nav {
 display:none;
}


.by-partners,
.by-values {
	background:#fff;
}
.nav {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


.loader {
  margin: auto;
  width: 100%;
  height: 220px;
  //background-image: url(c:/xampp/htdocs/learnJavaScript/New/img/back.gif);
  background-color: eeeeed;
  z-index: 100000;
}
.loader img{
  position: absolute;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 50%;
  height: 50%;
} 
}
.img-cont {
   
  border: 1px solid #cecece;
  border-radius: 5px;
  position: absolute;
  
  width: 30%;
  height: 50%;
}  

.img-cont img{
  float:left;
  
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 30%;
  height: 50%;
}
.news-text {
  overflow: auto;
  width: 69%;
  height: 50%;
  margin-left: 3%;
}

  
/*img {
  max-width: none;
  
  min-width: auto;
  min-height: auto;
  
  height: 100%;
  
  position: absolute;
  
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
}